.footer{margin-top: 4px;
    font-size: 20px;
    font-weight: bold;
 background-color: #66ffcc;
 padding: 10px;
 font-family:Brush Script MT, Brush Script Std, cursive;
 text-align: center;
 }